.mainheader {
  margin: 10px;
  display: grid;
  grid-template-columns: 2em 1fr;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin: 4px 0 2px;
}

.searchBar button {
  display: inline-flex;
  margin-left: 8px;
}

.searchBar img {
  height: 2em;
  width: 2em;
}

.searchBar input {
  font-size: 1em;
}

#headerlogo img {
  height: 1.5em;
  width: 1.5em;
}
